.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/learncpp/v16/.suo
.vs/learncpp/v16/Browse.VC.db
.vs/learncpp/v16/ipch/AutoPCH/4de997a80c643cb8/BASKET.ipch
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json

bin/*